.hero-image {
  margin: 0px;
}

.hero-text {
  margin-top: 24px;
}

.video-player {
  padding: 0px 40px;
  margin-top: 80px;

  @media (max-width: 375px) {
    padding: 0px 18px;
  }

  @media (min-width: 376px) and (max-width: 425px) {
    padding: 0px 35px;
  }
}


@media(prefers-color-scheme: dark) {
  .btn.btn__secondary-light {
    color: #c7c4be;
    background-color: #17191a;
    background-image: none;
    border-color: #2e3133;


  }
}